{% extends "registration/registration_base.html" %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="login_form" align="center">
  {% if form.errors %}
  <div class="error block"> 
    Password didn't match email. Please try again.
  </div>
  {% endif %}
  
  <form method="post" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
    {{ form.username }}
    {{ form.password }}
    <input type="submit" class="button" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  <div class="inline" > 
    <a class="button" href="{% url auth_password_reset %}">
      <img src="{{STATIC_URL}}/css/blueprint/plugins/buttons/icons/key.png" alt=""/> Change Password
    </a>
    <a class="button" href="{% url registration_register %}"> Sign up </a>
  </div>
</div>
{% endblock content %}
